body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h3, h4, h5, h6 {
    color: hotpink;background-color: rgb(16, 236, 16);
}
H1 {color: blue; background-color: green;}

h2 {
    color: burlywood;
}

label{
    margin: 10px;
    color: rgb(11, 213, 244);
}
div {
    background-color: lightblue;
  }
