/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  /* background-color: #1E1E1E; */
  /* background-color: #0a2f49; */
  background-color: #282828;
  color: white;
  margin: 0px;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: bold;
  /* letter-spacing: 2.1px; */
  font-size: 21px;
  /* padding-left: 12px; */
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.8em;
  /* padding-left: 12px; */
}
a {
  text-decoration: none;
}
.bg-grey{
  background-color: transparent;
}
.text-padding{
  padding: 5px;
}
/* Graph Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-for-charts{
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 100%;
}
#histogram {
  flex-grow: 1
}
#map-graph {
  flex-grow: 1
}
.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
/* Graph Control Objects ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-user-controls {
  /* padding-left: 25px; */
  padding-top: 20px;
}
.div-for-dropdown {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:20px;
  padding-right:20px;

}
.div-for-slider {
  width: 97%;
  text-align: center;
}
.logo {
  height: 35px;
  padding-bottom: 0px;
  margin-left: 8px;
}
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  /* background-color: #41b3c6; */

  /* color: white;
  text-align: "middle";*/
  /* height:30px; */

}
.Select-control,.is-open {
background-color: #41b3c6;
font-size: inherit;
text-align: center;

}

#bar-selector .Select-multi-value-wrapper{
  max-height: 82px;
  overflow-y: auto;
  margin: 0px 0px -3px 0px;
}

.Select-control{
  border: 0.5px solid #d3d2d244;
  width:100%;
  align-self: center;
  height:0px;
}
Select-arrow {
  border-color: #e61010 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  height: 0;
  width: 0;
  position: relative;
}


._dash-app-content {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: white;
  font-weight: 400;
  font-size: medium;

}


/* #date {
  background-color: #41b3c6;
  font-family: "Open Sans";
  font-weight: 400;
  color: white;
  border: 0.8px solid #dbdbdb44;
} */

#date-picker{
  width: 100%;
}

._dash-undo-redo {
  display: none;
}
.DateInput.DateInput_1{
  width: 100%;
}
.SingleDatePickerInput__withBorder{
  border:none;
}
.DateInput{
  font-size: medium;
}
.DateInput.DateInput_1 {
  background-color: transparent;
}

.SingleDatePickerInput__withBorder{}

.RangeDatePickerInput__withBorder {
  border-radius: 8px;
  color: white;
  background: #3f515f;
  background-color: #3f515f;
  /* font-size: smaller; */
}
.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  border: 0.0px solid #dbdbdb;
  display: block;
}
.SingleDatePicker_1 {
  border: 0.0px solid #dbdbdb;
  display: block;
}

.SingleDatePicker_picker, .SingleDatePicker_picker_1, .SingleDatePicker_picker__directionLeft,
.SingleDatePicker_picker__directionLeft_2{
  filter:invert(100%);
}

.DateRangePickerInput__withBorder {
  border-radius: 8px;
  border: none;
  background-color:white;
  /* color:red; */
  font-size: 0.8em;

}

/* For Mobile Phones and small screens ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (max-width: 768px) {
  .four, .eight {
      min-width: 100%;
 }
  h1, h2, h3, p {
      text-align: center;
 }
  body {
      display: block;
      margin: 0px;
      overflow-y: scroll;
  }
  .div-for-charts {
      padding: 0px;
      width: 100%;
      text-align: center;
 }

 .div-user-controls {
    padding: 32px;
 }

 .side-by-side{
    display: inline-block;
    width: 48%;
  }


 .side-by-side-right{
    display: inline-block;
    width: 48%;
    float:right;
  }
  .div-for-charts{
    margin: 0px;
  }
}

/* width */
::-webkit-scrollbar {
  /* width: 10px !important;
  display: block !important; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d870 !important;
}

.CalendarMonth_table td {
  padding: unset;
}

.DateInput_input_1{
  background-color:#41b3c6;
  color:white;

}


/* .DateInput,.DateInput_input_1 {
  color:white;
  text-align: center;
  font-size: medium;
  Height: 30px !important;
  Width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #41b3c6 !important;
  } */

.dropdown-menu{
  background-color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#ffffff8c; #replace blue with whatever color your want your font to be
  opacity: 1; /* Firefox */
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.55);
  font-size: 16px;
}